* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: "Barlow", sans-serif;
}

.button {
  padding: 16px 27px;
  font-weight: 700;
  line-height: 162.5%;
  text-transform: uppercase;
  border-radius: 8px;
  border: none;
}

.button:hover {
  cursor: pointer;
}

.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 55px 165px 39px 165px;
  max-width: 1440px;
}
.main-container header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.main-container header .header__logo-and-btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-container header .header__logo-and-btn__button {
  color: #162542;
  background: #e8eff2;
}
.main-container header .header__logo-and-btn__button:hover {
  color: white;
  background: #162542;
}
.main-container header .header__main {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 80px;
  gap: 125px;
}
.main-container header .header__main__description {
  margin-top: 60px;
}
.main-container header .header__main__description span {
  color: #162542;
  font-size: 56px;
  font-weight: 900;
  line-height: 100%;
  text-transform: uppercase;
}
.main-container header .header__main__description p {
  margin-top: 24px;
  color: #7B8BAD;
  font-size: 18px;
  font-weight: 500;
  line-height: 144.444%;
}
.main-container header .header__main__description__buttons {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}
.main-container header .header__main__description__buttons__btn {
  color: white;
  background: #f16718;
}
.main-container header .header__main__description__buttons__btn:hover {
  background: #ff9b62;
}
.main-container header .header__main__description__buttons span {
  margin: 0;
  color: #7b8bad;
  font-size: 16px;
  font-weight: 700;
  line-height: 162.5%;
  text-transform: uppercase;
}
.main-container header .header__main img {
  border-radius: 20px;
}
.main-container .main-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}
.main-container .main-content__visuals {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 125px;
}
.main-container .main-content__visuals__images {
  display: flex;
  gap: 32px;
}
.main-container .main-content__visuals__images img {
  border-radius: 20px;
}
.main-container .main-content__visuals__images div {
  border-radius: 20px;
  background: #f16718;
}
.main-container .main-content__visuals__images div img {
  mix-blend-mode: multiply;
}
.main-container .main-content__visuals__description {
  display: flex;
  flex-direction: column;
  gap: 27px;
  justify-content: center;
}
.main-container .main-content__visuals__description span {
  color: #162542;
  font-size: 32px;
  font-weight: 900;
  line-height: 112.5%;
  text-transform: uppercase;
}
.main-container .main-content__visuals__description p {
  color: #7b8bad;
  font-size: 16px;
  font-weight: 500;
  line-height: 162.5%;
}
.main-container .main-content__tools {
  margin-top: 168px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 32px;
}
.main-container .main-content__tools__tool {
  display: flex;
  flex-direction: column;
}
.main-container .main-content__tools__tool img {
  width: 64px;
  margin-bottom: 48px;
}
.main-container .main-content__tools__tool span {
  color: #162542;
  font-size: 24px;
  font-weight: 900;
  line-height: 116.667%;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.main-container .main-content__tools__tool p {
  color: #7b8bad;
  font-size: 16px;
  font-weight: 500;
  line-height: 162.5%;
}

.end {
  margin-top: 128px;
  color: #7b8bad;
  font-size: 16px;
  font-weight: 700;
  line-height: 162.5%;
  padding-bottom: 39px;
}
.end span {
  font-weight: 500;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .main-container {
    padding: 0;
    padding-top: 40px;
    padding-left: 39px;
  }
  header .header__main {
    gap: 70px;
  }
  header .header__main__description span {
    font-size: 48px;
  }
}/*# sourceMappingURL=style.css.map */